
:root {
	--background-color: #000000;
	--foreground-color: #EEEEEE;
	--yellow-color: #fff109;
	--red-color: #b92a1d;
}

@font-face {
	font-family: 'RT DIY-Tape';
	src: url(RT%20DIY-Tape.ttf);
}

@font-face {
	font-family: 'veteran typewriter';
	src: url(veteran%20typewriter.ttf);
}

::selection {
	background-color: var(--yellow-color);
	color: var(--red-color);
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
	margin: 0;
	padding: 24px 0 0 0;
}

div.title-block {
	display: flex;
	flex-direction: row;
}

div.center-block {
	display: flex;
	justify-content: center;
	align-items: center;
}
 
.links {
	position: fixed;
	bottom: 24px;
	left: 0;
	width: 100%;
	text-align: center;
}

.links a {
	display: inline-block;
	margin: 0 8px;
	padding: 10px 8px;
	background: transparent;
	border-radius: 8px;
	color: teal;
	text-decoration: none;
}

.links a:hover,
.links a:focus {
	background: transparent;
	transform: none;
	text-decoration: underline;
}

h1 {
	font-family: 'veteran typewriter';
	font-size: 2em;
	margin: 0;
}

p {
	font-family: 'RT DIY-Tape';
	font-size: 2em;
}

